
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { 
              "haproxy": { "unique": false, "count": 1 },
              "slave": { "unique": false, "count": 2 }
    };
    node_selector($('#drag_drop'), constraints);
  });

